.todo-list li .view {
  display: flex;
  align-items: center;
}

.todo-list li .segment {
  display: flex;
  align-items: center;
}

.todo-list li .segment.label {
  flex-grow: 2;
}

.todo-list li .toggle {
  text-align: center;
  width: 40px;

  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}

.todo-list li .toggle {
  opacity: 0;
}

.todo-list li .toggle + .todo-text {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center left;
}

.todo-list li .toggle:checked + .todo-text {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E");
}

.todo-list li .todo-text {
  margin: 5px;
  word-break: break-all;
  padding: 5px 5px 5px 60px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  font-weight: 400;
  color: black;
  flex-grow: 2;
}

.todo-list li.completed label {
  color: #cdcdcd;
  text-decoration: line-through;
}

.todo-list li select.colorPicker {
  width: 90px !important;
  padding: 0.1rem 0 0.1rem 0.4rem;
  margin: 0 10px;
  height: 30px;
  line-height: 24px;
  font-weight: 700;
}

.todo-list li select.colorPicker option {
  font-weight: 700;
}

.todo-list li select.colorPicker option[value="green"] {
  color: green;
}

.todo-list li select.colorPicker option[value="blue"] {
  color: blue;
}

.todo-list li select.colorPicker option[value="orange"] {
  color: orange;
}

.todo-list li select.colorPicker option[value="purple"] {
  color: purple;
}

.todo-list li select.colorPicker option[value="red"] {
  color: red;
}

.todo-list li .destroy {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  font-size: 30px;
  line-height: 30px;
  color: #cc9a9a;
  transition: color 0.2s ease-out;
  background: unset !important;
  border: unset !important;
  display: flex;
  justify-content: center;
  align-content: center;
}

.todo-list li .destroy:hover {
  color: #af5b5e;
}

/* Font-Awesome base icon rules */
.svg-inline--fa.fa-w-11 {
  width: 0.6875em;
}
