.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.headertitle {
  display: flex;
  font-size: 20px;
  justify-self: center;
  text-align: center;
  line-height: 1.2;
  font-family: "Press Start 2P", cursive;
}
